{% extends "layout2.html" %}
{% block content %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/"><img src="/static/images/logo.png" height="75px" width ="" style="margin-right:1em; ">F U S I O N A S A<span class="sr-only">(current)</span></a>
	</nav>
<div style="width:100%">
	<div class="jumbotron jumbotron-fluid " style="margin-top: 1em;">
	  <div class="container">
	    <h1 class="display-4">Graphs And Analysis</h1>
	    <p class="lead">Data of various databases presented in an attractive manner </p>
	  </div>
	</div>
<div style="margin-left:10px">
<div style="float:left">
	<div class="alert alert-info col-sm-10" role="alert" style="margin-top: 1em">
  		CNVDOK
	</div>

	<div>
		
		<ul >
			<a href="\static\docs\cnvdok\disease.docx" target="_blank"> <!--onclick="window.open('..\site\statics\cnvdok\disease.docx', 'popup', 'height=400', width='400'); return false;"-->
			<li style="margin-bottom: 10px">
				DISEASE DOC
			</li>
			</a>

			<a href="\static\docs\cnvdok\cnv.docx" target="_blank">
			<li style="margin-bottom: 10px">
				CNV DOC
			</li>
			</a>

			<a href="/static/images/cnvdok/cnvgraph1.jpg" target="_blank" onclick="window.open('/static/images/cnvdok/cnvgraph1.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					CNV GRAPH 1
				</li>
			</a>
		</ul>
	</div>
</div>
<div style="float:left">
	<div class="alert alert-info col-sm-10" role="alert" style="margin-top: 1em">
  		COSMIC
	</div>

	<div>
		
		<ul >
			<a href="\static\docs\cosmic\mut_type.docx" target="_blank" >
			<li style="margin-bottom: 10px">
				MUT_TYPE DOC
			</li>
			</a>
			<a href="\static\docs\cosmic\primary histology.docx" target="_blank">
			<li style="margin-bottom: 10px">
				PRIMARY HISTOLOGY DOC
			</li>
			</a>
			<a href="\static\docs\cosmic\Primary site.docx" target="_blank" >
			<li style="margin-bottom: 10px">
				PRIMARY SITE DOC
			</li>
			</a>

			<a href="/static/images/cosmic/cosgraph1.jpg" target="_blank" onclick="window.open('/static/images/cosmic/cosgraph1.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					COSMIC GRAPH 1
				</li>
			</a>

			<a href="/static/images/cosmic/cosgraph2.jpg" target="_blank" onclick="window.open('/static/images/cosmic/cosgraph2.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					COSMIC GRAPH 2
				</li>
			</a>

			<a href="/static/images/cosmic/cosgraph3.jpg" target="_blank" onclick="window.open('/static/images/cosmic/cosgraph3.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					COSMIC GRAPH 3
				</li>
			</a>
			
		</ul>
	</div>
	</div>
<div style="float:left">
	<div class="alert alert-info col-sm-10" role="alert" style="margin-top: 1em">
  		TSGENE
	</div>

	<div>
		
		<ul >
			<a href="\static\docs\tsgene\gene type.docx" target="_blank" >
			<li style="margin-bottom: 10px">
				GENE TYPE DOC
			</li>
			</a>

			<a href="/static/images/tsgene/tsggraph1.jpg" target="_blank" onclick="window.open('/static/images/tsgene/tsggraph1.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					TSGENE GRAPH 1
				</li>
			</a>
		</ul>
	</div>
	</div>
<div style="float:left">
	<div class="alert alert-info col-sm-10" role="alert" style="margin-top: 1em">
  		TAG
	</div>

	<div>
		
		<ul >
			<a href="\static\docs\tag\geneType.docx" target="_blank" >
			<li style="margin-bottom: 10px">
				GENE TYPE DOC
			</li>
			</a>

			<a href="/static/images/tag/taggraph1.jpg" target="_blank" onclick="window.open('/static/images/tag/taggraph1.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					TAG GRAPH 1
				</li>
			</a>
		</ul>
	</div>
	</div>
<div style="float:left">
	<div class="alert alert-info col-sm-10" role="alert" style="margin-top: 1em">
  		DGV
	</div>

	<div>

		<ul >
			<a href="\static\docs\dgv\UniqueCnv.docx" target="_blank" >
			<li style="margin-bottom: 10px">
				UNIQUE CNV DOC
			</li>
			</a>
			<a href="\static\docs\dgv\uniqueMethods.docx" target="_blank" >
			<li style="margin-bottom: 10px">
				UNIQUE METHODS DOC
			</li>
			</a>

			<a href="/static/images/dgv/dgvgraph1.jpg" target="_blank" onclick="window.open('/static/images/dgv/dgvgraph1.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					DGV GRAPH 1
				</li>
			</a>

			<a href="/static/images/tsgene/dgvgraph2.jpg" target="_blank" onclick="window.open('/static/images/dgv/dgvgraph2.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					DGV GRAPH 2
				</li>
			</a>
		</ul>
	</div>
	</div>

<div style="float:left">
	<div class="alert alert-info col-sm-10" role="alert" style="margin-top: 1em">
  		HGNC
	</div>

	<div>
		<ul >
			<a href="\static\docs\hgnc\GENE TYPE.docx" target="_blank" >
			<li style="margin-bottom: 10px">
				GENE TYPE DOC
			</li>
			</a>

			<a href="/static/images/hgnc/hgncgraph1.jpg" target="_blank" onclick="window.open('/static/images/hgnc/hgncgraph1.jpg', 'popup', 'height=400', width='400'); return false;">
				<li style="margin-bottom: 10px" >
					HGNC GRAPH 1
				</li>
			</a>
		</ul>

	</div>

	</div>
	</div>
</div>

{% endblock content %}