{% extends "layout.html" %}
{% block content %}



 <form method="POST" action="epigen_methyl" class="form-horizontal">
   	{{form.hidden_tag()}}
	<div class="col-sm-2">
		<b>Start*:</b>
	</div>
	 <div class="col-sm-2">

		{{form.start(placeholder='start')}}
	</div>
	 <br>
	 <br>
	<div class="col-sm-2">
		<b>End*:</b>&nbsp;
	</div>
	<div class="col-sm-2">
		{{form.end(placeholder='end')}}
	</div>
	<div class="col-sm-8">
	   	  {{form.submit(class="btn btn-primary")}}
	</div>

	<div class="col-sm-8">
	<div class="alert alert-info" role="alert">
		* fields are required
</div>
		<br>
		OUTPUT:
	   	  {{form.output(style="width:150%;height:300px;")}}
      </div>
      </div>
</form>



{% endblock content %}
